body {
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.59);
  margin: 0;
  position: relative;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid;
  margin-top: 1%;
  border-image: linear-gradient(to right, transparent, #7ac3c7, transparent) 20;
}

#nav h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1%;
  font-size: 1.75em;
  color: #1d3557;
}

.interactive {
  color: #457b9d;
}

#start-game {
  border-radius: 10px;
  color: white;
  background-color: #457b9d;
  padding: 1em;
  letter-spacing: 2px;
  border: 0;
  font-size: 1.5em;
  transition: 0.2s ease-in-out 0s;
  margin-top: 25%;
}

#start-game:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#start-button {
  display: flex;
  justify-self: center;
  margin-top: 10%;
}

#questionBox {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content #question {
  margin-bottom: 1%;
  font-size: 1.65em;
  color: #1d3557;
}

.container #answer-boxes {
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

.content #answer-boxes > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0.2em;
  width: auto;
}

.correct {
  animation: correctFlash 0.5s ease-in-out;
}

@keyframes correctFlash {
  0% {
    background-color: #38b000;
  }
  50% {
    background-color: #6fcf97;
  }
  100% {
    background-color: #38b000;
  }
}

.buzz {
  animation: buzz 0.3s ease-in-out 1;
}

@keyframes buzz {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.content #next-question {
  display: inline-block;
  margin: 5px;
  width: 90%;
  padding: 0.5em;
  background-color: #1d3557;
  color: white;
  border-radius: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25em;
  transition: background-color 0.2s ease;
}

#next-question:hover {
  background-color: #457b9d;
  cursor: pointer;
}

#next-btn-container {
  justify-self: center;
}

#questionNumText {
  text-align: center;
  font-size: 1.5em;
  margin-top: 3%;
  color: #1d3557;
  font-weight: bold;
  margin-bottom: 0.5em;
}
